[phases.setup]
nixPkgs = [
    "php", 
    "php82Extensions.curl",
    "php82Extensions.mbstring",
    "php82Extensions.xml",
    "php82Extensions.fileinfo",
    "nodejs",
    "yarn"
]
nixOverlays = [
    "https://github.com/nix-community/composer2nix/archive/main.tar.gz"
]

[phases.build]
commands = [
    "php artisan optimize:clear",
    "php artisan migrate --force"
]

[start]
cmd = "php artisan serve --host=0.0.0.0 --port=$PORT"
